:root {
    /* main colors */
    --bg-color: #222326;
    --default-text-color: #fff;
    --rail-color: #131314;
    --rail-button-color: #222326;
    --rail-button-outline-color: #393a3e;
    --rail-button-color-selected: #675fff;
    --rail-button-outline-color-selected: #8f89fd;
    --rail-button-size: 52px;

    --important-button-color: #675fff;
    --normal-button-color: #fff3;

    /* accent colors */
    --warning-header-color: rgb(210, 183, 100);

    /* traffic light status colors */
    --status-green: rgb(20, 255, 20);
    --status-yellow: rgb(255, 228, 20);
    --status-red: rgb(219, 29, 15);

    /* music player */
    --playlist-button-color: #131314;
    --playlist-button-color-selected: #353537;
}

html {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--default-text-color);
    font-family: "Google Sans", sans-serif;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 40px;
}

p, h2 {
    margin-block-start: 12px;
    margin-block-end: 12px;
}

  /*                      */
 /*     Notification     */
/*                      */

@keyframes dropIn {
    from {
        top: -20px;
    }
    to {
        top: 60px;
    }
}

.notification {
    z-index: 999;
    position: absolute;
    justify-self: center;
    width: fit-content;
    height: 20px;
    border-radius: 9px;
    text-align: center;
    padding: 5px 50px;
    top: 60px;
    max-width: 400px;
    
    background-color: rgba(26, 37, 59, 0.754);
    border: 2px solid #415c7d;
    
    animation: dropIn 500ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

  /*                   */
 /*     Scrollbar     */
/*                   */

::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

::-webkit-scrollbar-track {
    margin-right: 4px;
    background: #fff0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a72;
}

  /*               */
 /*     Title     */
/*               */

header {
    display: flex;
    flex-direction: row;
    gap: 2px;
    content: center;
    height: 35px;
    width: 100%;
    background-color: #131314;
    border-bottom: 1px solid #393a3e;
    padding: 5px 5px;
    z-index: 9999;

    -webkit-app-region: drag;
}

header img {
    aspect-ratio: 1/1;
    transform: scale(0.7);
}

header p {
    font-weight: 600;
    align-self: center;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #a6a6ba;
}

  /*                 */
 /* RAIL (Sidebar)  */
/*                 */

nav {
    z-index: 900;
    background-color: var(--rail-color);
    width: 88px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 17px;
    gap: calc(var(--rail-button-size) / 4);
    flex-shrink: 0;
}

nav button {
    background-color: var(--rail-button-color);
    color: var(--default-text-color);
    width: var(--rail-button-size);
    height: var(--rail-button-size);
    border-radius: 8px;
    border: 2px solid var(--rail-button-outline-color);
    transition: all 200ms;
}

nav button:hover {
    background-color: var(--rail-button-color-selected);
    border: 3px solid var(--rail-button-outline-color-selected);
    cursor: pointer;
}

  /*            */
 /* GAME PAGE  */
/*            */

.logo-image {
    position: absolute;
    z-index: 2;
    width: 27%;
    left: 5%;
    top: 10%;
    user-select: none;
    -webkit-user-drag: none;
}

.hero-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

.hero-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 50%, var(--bg-color));
    pointer-events: none;
    z-index: 1;
}
  /*            */
 /* GAME GRID  */
/*            */

/* tile in-animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, 200px); 
    width: 100%;
    gap: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    flex-grow: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.grid-item {
    display: grid;
    place-items: center;
    background-color: #26272a;
    border-radius: 7px;
    width: 100%;
    border: 1px solid #fff0;
    min-height: 120px;
    aspect-ratio: 2/3;
    animation: fadeIn 300ms ease-out forwards;
    transition: all 200ms;
    user-select: none;
    -webkit-user-drag: none;
}

div.grid-item:hover {
    transform: translateY(-3px);
    box-shadow: #fff5 0px 7px 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

img.grid-item {
    width: 100%;
    height: 100%;
    border: 0px;
    aspect-ratio: 2/3;
    pointer-events: none;
}

/* main content */

@keyframes contentIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#content {
    padding: 0px 10px;
    width: 100%;
    height: 94vh;
    overflow-x: hidden;
    overflow-y: auto;
    animation: contentIn 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

  /*            */
 /*  BUTTONS   */
/*            */

.play-button {
    border-radius: 10px;
    background-color: rgb(61, 177, 31);
    font-size: 19px;
    color: #fff;
    border: 1px solid #fff5;
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    width: 110px;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    transition: all 200ms;
}

.play-button:hover {
    box-shadow: #0003 5px 5px 20px;
    transform: scale(1.025);
}

.preferable-button {
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--important-button-color);
    color: #fff;
    border: 1px solid #fff5;
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    transition: all 200ms;
}

.preferable-button:hover {
    box-shadow: #0003 5px 5px 20px;
    transform: scale(1.025);
}

.normal-button {
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--normal-button-color);
    color: #fff;
    border: 1px solid #fff5;
    padding: 0 30px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    transition: all 200ms;
}

.normal-button:hover {
    box-shadow: #0003 5px 5px 20px;
    transform: scale(1.025);
}

.rail-button-icon {
    width: 75%;
    align-self: center;
    aspect-ratio: 1/1;
    transform: translateY(1px);
}

  /*            */
 /* DOWNLOADS  */
/*            */

.downloads-warning-banner {
    display: block;
    background-color: rgba(230, 183, 90, 0.15);
    border-radius: 10px;
    border: 1px solid rgb(233, 195, 78, 0.4);
    padding: 0 18px;
    color: var(--warning-header-color);
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
}

.action-bar {
    margin: 0 auto;
    width: 84%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.action-bar button {
    margin: 0;
}

.server-status {
    background-color: rgba(255, 255, 255, 0.07);
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1.3px solid #fff2;
    font-weight: 400;
    align-content: center;
    justify-content: center;
}

.download-grid {
    display: grid;
    justify-content: center;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, 200px);
    box-sizing: border-box;
    padding: 20px 50px; 
    gap: 15px;
}

.download-grid button {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background-color: var(--card-accent-color);
    border: 2px solid #fff0;
    cursor: pointer;

    /* text & alignment */
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
    text-align: left;
    color: #fff;
    font-size: 18px;
    padding: 7px 10px;

    transition: all 200ms;
}

.download-grid button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
    pointer-events: none;
    z-index: 1;
}

.download-grid button:hover {
    border: 2px solid #fff5;
    transform: translateY(-5px);
    box-shadow: #0003 0 2px 12px;
}

#status-light {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--status-green);
    margin: auto;
    box-shadow: var(--status-green) 0 0 15px;
}

.download-grid img {
    width: 85%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.affectors {
    left: 0;
    height: 32px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 9999;
    top: 5px;
    gap: 5px;
}

.affectors img {
    opacity: 50%;
}

@keyframes iconBrighten {
    to {
        opacity: 100%;
    }
}

@keyframes iconDarken {
    to {
        opacity: 50%;
    }
}

  /*           */
 /* SETTINGS  */
/*           */

/* settings content */

.settings-section {
    background-color: #fff1;
    padding: 3px 18px;
    border-radius: 12px;
    border: 1px solid #fff2;
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 18px;
}

.settings-section input {
    background-color: #0003;
    width: 95%;
    border: 1px solid #fff3;
    color: #fff;
    padding: 0 10px;
    height: 32px;
}

/* directories list */

#directory-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.game-folder-item {
    padding: 5px 12px;
    background-color: #13131462;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
    text-align: left;
}

  /*                */
 /*  CONTEXT MENU  */
/*                */

.context-menu {
    position: absolute;
    z-index: 9999;
    background: #1e1e1e;
    border: 1px solid #333;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    width: 180px;
    color: #f0f0f0;
    font-family: sans-serif;
    user-select: none;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 6px 0;
}

.context-menu li {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.1s ease;
}

.context-menu li:hover {
    background: var(--important-button-color);
    color: #ffffff;
}

  /*                */
 /*  NAME PROMPT   */
/*                */

#name-prompt-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #0005;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#name-prompt-window {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    width: 450px;
    height: 205px;
    background-color: var(--rail-button-color);
    border-radius: 10px;
    border: 1.65px solid var(--rail-button-outline-color);
}

#name-prompt-window input {
    width: 70%;
    background-color: var(--rail-color);
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#name-prompt-window h2 {
    margin: 0;
}

#name-prompt-window p {
    margin-top: 0;
    color: #787981;
}

  /*                    */
 /*  DELETION PROMPT   */
/*                    */

#deletion-prompt-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #0005;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#deletion-prompt-window {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    width: 450px;
    height: 205px;
    background-color: var(--rail-button-color);
    border-radius: 10px;
    border: 1.65px solid var(--rail-button-outline-color);
}

#deletion-prompt-window input {
    width: 70%;
    background-color: var(--rail-color);
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#deletion-prompt-window h2 {
    margin: 0;
}

#deletion-prompt-window p {
    margin-top: 0;
    color: #787981;
}

  /*                */
 /*     MUSIC      */
/*                */

.music-list {
    display: flex;
    flex-direction: column;
    padding: 20px 50px; 
    gap: 5px;
    max-width: 650px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* da funky playlist */

.playlist-item {
    width: 650px;
    height: 40px;
    max-width: 106%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: var(--playlist-button-color );
    border: 2px solid #fff0;
    cursor: pointer;

    /* text & alignment */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #fff;
    font-size: 18px;
    padding: 7px 10px;

    transition: all 100ms;
}

.playlist-item:hover {
    background-color: var(--playlist-button-color-selected);
}

/* da funky songs */

.song-item {
    width: 100%;
    height: 60px;
    max-width: 106%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: var(--playlist-button-color );
    border: 2px solid #fff0;
    cursor: pointer;

    /* text & alignment */
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    text-align: left;
    padding: 7px 0px;
    gap: 10px;

    transition: all 100ms;
}

.song-item p {
    margin: 5px;
    pointer-events: none;
}

.song-item img {
    width: 72px;
    height: 72px;
    aspect-ratio: 1/1;
    pointer-events: none;
}

.song-item-title {
    color: #fff;
    font-size: 18px;
}

.song-item-artist {
    color: #aaa;
    font-size: 15px;
}

.song-item-length {
    margin-right: 10px;
}

.song-item:hover {
    background-color: var(--playlist-button-color-selected);
}

#plst-title {
    color: #aaa;
    text-indent:25px;
    display: none;
    margin-top: 0;
}

  /*                       */
 /*     MUSIC EFFECTS     */
/*                       */

@keyframes floatUpNote {
    0% {
        transform: translate(0) scale(0.5) rotate(0deg);
        opacity: 0;
    }
    10% {
        transform: translate(1px, -10px) scale(0.45) rotate(2deg);
        opacity: 1;
    }
    100% {
        transform: translate(10px, -120px) scale(0.3) rotate(calc(var(--random-dir, 10) * 1deg));
        opacity: 0;
    }
}

.music-particle {
    position: absolute;
    pointer-events: none;
    animation: floatUpNote 1.5s ease-out forwards;
    fill: #ffffff;
    z-index: 9999999;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.vinyl {
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  /*                       */
 /*      TRASH BUTTON     */
/*                       */

.trashContainer {
    margin-right: 8px;
    height: 48px;
    width: 48px;
    display: none;
    border-radius: 100%;
    background-color: #9995;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-items: center;
}

.trashContainer img {
    margin: auto;
    pointer-events: none;
}

  /*                     */
 /*     MINIPLAYER      */
/*                     */

#miniplayer-img {
    width: 100%;
    height: 100%;
}

#miniplayer-img-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;
    height: 200px;
    opacity: 0.5;
}

#miniplayer-img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, var(--bg-color));
    pointer-events: none;
}